                        <i class="far fa-comments fa-8x"></i>
                        <button type="button" class="btn btn-dark">
                            Mensajes <span class="badge badge-light">35</span>
                        </button>
                        <br><br><br>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Proyecto</th>
                                        <th>Residente</th>
                                        <th>Mensajes</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let project of this.projectsService.project2">
                                        <td>{{project.name}}</td>
                                        <td>
                                            {{project.resident}}
                                        </td>
                                        <td>{{project.messages.length}}</td>
                                        <td><button (click)="get10messages(project._id,project.name)" class="btn btn-lg btn-dark" type="submit" data-toggle="modal"
                                                data-target="#mensajes"><i class="fas fa-arrow-alt-circle-right fa-1x"></i></button></td>
                                    </tr>
                                    

                                </tbody>
                            </table>
                        </div>
    <!--Desplegable de los mensajes-->
    <div class="modal fade" id="mensajes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    {{Project}}
                                    <br><br><br>
                                    <!--Aqui va el contenido-->
                                    <div class="container">
                                        <ul *ngFor="let message of this.projectsService.messages" class="list-unstyled">
                                            {{message.authorName}} : {{message.message}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>