<app-navbar></app-navbar>
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <!--Aqui se pone el nombre de usuario que puede ser residente, gerente o proyectista-->
                    <div class="col-lg-12">
                        Bienvenido: {{name}}.
                    </div>
                    <br><br><br><br><br>
                    
                    <div *ngIf="userTypeBoolean" class="col-lg-6">
                        <app-alerts></app-alerts>
                    </div>

                    <div *ngIf="userTypeBoolean"  class="col-lg-6" >
                        <app-messages></app-messages>
                    </div>

                    <div *ngIf="!userTypeBoolean" class="col-lg-12">
                        <app-messages></app-messages>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
</header>