<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <div class="container">
        <a class="navbar-brand" href="#"><b>Virtual-Assistant</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
             
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
        
        <ul class="navbar-nav mr-auto" align="rigth">
            <br>
            <a class="btn btn-outline-info d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/control">Centro de Control</a>
            <br>
            <a class="btn btn-outline-info d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/projects">Proyectos</a>
            <br>
            <a class="btn btn-outline-info d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/users">Usuarios</a>
            <br>
            <a class="btn btn-outline-danger d-lg-inline-block mb-3 mb-md-0 ml-md-3" (click)="loggout()">Cerrar sesion</a>
        </ul>
        </div>
      </div>       
  </nav>
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <!--Aqui se pone el nombre de usuario que puede ser residente, gerente o proyectista-->
                    <div class="col-lg-12">
                        Bienvenido Usuario.
                    </div>
                    <br><br><br><br><br>

                    <div class="col-lg-6">
                        <app-alerts></app-alerts>
                    </div>

                    <div class="col-lg-6">
                        <app-messages></app-messages>
                    </div>


                </div>
            </div>
        </div>
    </div>
    
    
</header>