<app-navbar></app-navbar>

<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">

            <div class="container">
                <div class="row">
                    <div class="container">
                        <h2>Proyectos</h2>
                        <p>Buscar proyectos por nombre o encargado. </p>
                        <div class="row">
                            <div class="col-lg-10">
                                <input class="form-control" id="myInput" type="text" placeholder="Buscar">
                            </div>
                            <div *ngIf="userTypeBoolean" class="col-lg-2">
                                <button type="button" class="btn btn-dark btn-circle" data-toggle="modal" data-target="#crearproyecto">
                                    <i class="fas fa-plus fa-2x"></i>
                                </button>
                            </div>
                        </div>




                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Residente encargado</th>
                                        <th>Progreso</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    <tr *ngFor="let project of this.projectsService.project">
                                        <td>{{project.name}}</td>
                                        <td>
                                            {{project.resident}}
                                        </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                                    aria-valuemax="100" style="width:75%">
                                                    75%
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button *ngIf="userTypeBoolean || userTypeBoolean3" (click)="SelectedProject(project._id,project.name,project.description,project.storeName,project.storeNumber
                                            ,project.m2,project.location,project.localReception,project.furnitureDate,project.openingDate)" class="btn btn-lg btn-dark" type="submit" data-toggle="modal" data-target="#verp">Ver Proyecto</button>
                                            <a *ngIf="userTypeBoolean2" href="/gantt">
                                                <button 
                                                (click)="SelectedProject(project._id,project.name,project.description,project.storeName,project.storeNumber
                                                ,project.m2,project.location,project.localReception,project.furnitureDate,project.openingDate)"
                                                
                                                (click)="projectCookie(id2)" class="btn btn-lg btn-dark">Ver Proyecto</button>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Desplegable de crear proyecto-->
<div class="modal fade" id="crearproyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    <h3>Asignar Proyecto</h3>
                                    <p>Ingresa los datos y asigna un nuevo proyecto. </p>
                                    <form #projectForm="ngForm" (ngSubmit)="createProject(projectForm)">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" placeholder="Nombre del Proyecto" name="name" [(ngModel)]="name"   maxlength="100" #nameref="ngModel" pattern="[A-Za-z0-9 ]{0,100}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" placeholder="Descripcion" name="description" [(ngModel)]="description"   maxlength="100"  #descriptionref="ngModel" pattern="[A-Za-z0-9 ]{0,100}">
                                        </div>
                                        <div class="col-lg-12">


                                            <div class="row">
                                                <div class="col-lg-6">
                                                    Residente encargado
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">

                                                        <select class="form-control" name="idUser2" [(ngModel)]="idUser2">
                                                                <option *ngFor="let user of this.userService.user" value="{{user._id}}">{{user.name}} </option> 
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12">


                                            <div class="row">
                                                <div class="col-lg-6">
                                                    Proyectista Encargado
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">

                                                        <select class="form-control" name="idUser3" [(ngModel)]="idUser3">
                                                            <option *ngFor="let user2 of this.userService.user2" value="{{user2._id}}">{{user2.name}} </option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div [hidden]="!nameref.errors?.pattern">
                                            En el nombre solo puede haber letras y numeros.
                                        </div> 
                                        <div [hidden]="!descriptionref.errors?.pattern">
                                            En la descripcion solo puede haber letras y numeros.
                                        </div> 


                                        <input [hidden]="nameref.errors?.pattern || descriptionref.errors?.pattern" type="submit" value="Asignar Proyecto" class="btn btn-outline-light btn-block">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Desplegable de Informacion general-->
<div class="modal fade" id="verp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    <h3>Informacion General</h3>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form  #updateForm="ngForm" (ngSubmit)="updateInformation(updateForm)">
                                                <div class="row">
                                                    <input type="hidden" name="_id" [(ngModel)]="id2">
                                                    <div class="col-lg-4">
                                                        Nombre del Proyecto
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Nombre del proyecto" name="name"[(ngModel)]="name2"  maxlength="100" #name2ref="ngModel" pattern="[A-Za-z0-9 ]{0,100}" >
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-lg-4">
                                                        Descripcion del Proyecto
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Descripcion del proyecto" name="description" [(ngModel)]="description2" maxlength="100" #description2ref="ngModel" pattern="[A-Za-z0-9 ]{0,100}">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-lg-4">
                                                        Nombre de tienda
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Nombre de tienda" name="storeName" [(ngModel)]="storeName2"  maxlength="100" #storeName2ref="ngModel" pattern="[A-Za-z0-9 ]{0,100}">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-lg-4">
                                                        Numero de Tienda
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Numero de Tienda" name="storeNumber" [(ngModel)]="storeNumber2"   maxlength="100" #storeNumber2ref="ngModel" pattern="[0-9]{0,100}">
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>

                                                    <div class="col-lg-4">
                                                        Metraje
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Metraje" name="m2" [(ngModel)]="m22"   maxlength="100" #m22ref="ngModel" pattern="[0-9]{0,100}">
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>

                                                    <div class="col-lg-4">
                                                        Ubicacion
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-lg" placeholder="Ubicacion" name="location" [(ngModel)]="location2"  maxlength="100" #location2ref="ngModel" pattern="[A-Za-z0-9 ]{0,100}">
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>

                                                    <div class="col-lg-4">
                                                        Recepcion Local
                                                    </div>
                                                    <br>
                                                    <div class="col-lg-3">
                                                        
                                                        <input type="text"  class="form-control form-control-lg" name="localReception2" [(ngModel)]="localReception2" readonly>
                                                          
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control form-control-lg" name="localReception" [(ngModel)]="localReception">
                                                        </div>
                                                    </div>


                                                    <br>
                                                    <br>

                                                    <div class="col-lg-4">
                                                        Fecha de apertura
                                                    </div>
                                                    <br>
                                                    <div class="col-lg-3">
                                                        
                                                        <input type="text"  class="form-control form-control-lg" name="openingDate2" [(ngModel)]="openingDate2" readonly>
                                                        
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control form-control-lg" name="openingDate" [(ngModel)]="openingDate">
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>    

                                                    <div class="col-lg-4">
                                                        Pedido de Muebles
                                                    </div>
                                                    
                                                    <div class="col-lg-3">
                                                        
                                                        <input type="text" class="form-control form-control-lg"  name="furnitureDate2" [(ngModel)]="furnitureDate2" readonly>
                                                        
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control form-control-lg" name="furnitureDate" [(ngModel)]="furnitureDate">
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>
                                                    <div class="col-lg-12">
                                                            <div [hidden]="!name2ref.errors?.pattern">
                                                                    En el nombre del proyecto solo puede haber letras y numeros.
                                                            </div>      
                                                            <div [hidden]="!description2ref.errors?.pattern">
                                                                En la descripcion solo puede haber letras y numeros.
                                                              </div> 
                                                              <div [hidden]="!storeName2ref.errors?.pattern">
                                                                En el nombre de la tienda solo puede haber letras y numeros.
                                                            </div>   
                                                            <div [hidden]="!location2ref.errors?.pattern">
                                                                En la ubicacion  solo puede haber letras y numeros.
                                                            </div> 
                                                              
                                                            <div [hidden]="!storeNumber2ref.errors?.pattern ">
                                                                En el numero de tienda pueden haber numeros.
                                                            </div> 
                                                            <div [hidden]= "!m22ref.errors?.pattern">
                                                                En el  metraje solo pueden haber numeros.
                                                            </div> 
                                                    </div>
                                                    
                                                    
                                                    <div class="col-lg-12">
                                                            <input [hidden]="name2ref.errors?.pattern || description2ref.errors?.pattern ||
                                                            storeName2ref.errors?.pattern || storeNumber2ref.errors?.pattern || m22ref.errors?.pattern || location2ref.errors?.pattern" class="btn btn-block btn-dark" type="submit" value="Actualizar informacion general">
                                                    </div>
                                                   
                                                    
                                                </div>

                                            </form>
                                            <br>
                                            <br>
                                        </div>



                                        <div class="col-lg-12">
                                            <button class="btn btn-block btn-dark" type="submit" data-toggle="modal" data-target="#pdf" data-dismiss="modal" aria-label="Close">
                                            Documentacion PDF </button>
                                        </div>
                                        <br>
                                        <br>
                                        <div *ngIf="userTypeBoolean" class="col-lg-12">
                                            <a href="/gantt">
                                                <button (click)="projectCookie(id2)" class="btn btn-block btn-dark" type="submit">Ver Proceso</button>
                                            </a>


                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="pdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    <!--Aqui va el contenido-->
                                    <div class="container">

                                        <button class="btn btn-block btn-dark" type="submit" data-toggle="modal" data-target="#planos" data-dismiss="modal" aria-label="Close">Planos Arquitectonicos</button>
                                        <br>

                                        <button class="btn btn-block btn-dark" type="submit" data-toggle="modal" data-target="#contratos" data-dismiss="modal" aria-label="Close">Contratos</button>
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Desplegable de planos-->
<div class="modal fade" id="planos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    <!--Aqui va el contenido-->
                                    <div class="container">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Documento</th>
                                                        <th>Acciones</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="planos">
                                                    <tr>
                                                        <td>Plano 1</td>
                                                        <td>
                                                            <button class="btn btn-lg btn-dark">
                                                                <i class="far fa-edit"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn btn-block btn-dark"> Agregar Documento</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Desplagable de contratos-->
<div class="modal fade" id="contratos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-center" style="background-color: #303136;">
                                <div class="card-body">
                                    <!--Aqui va el contenido-->
                                    <div class="container">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Documento</th>
                                                        <th>Acciones</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="contrato">
                                                    <tr>
                                                        <td>Contrato 1</td>
                                                        <td>
                                                            <button class="btn btn-lg btn-dark">
                                                                <i class="far fa-edit"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn btn-block btn-dark"> Agregar Documento</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>