<app-navbar></app-navbar>

<section id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">

      <div class="container">
        <div class="row">

          <div class="col-lg-2">
            <button class="btn btn-lg btn-dark" type="submit" data-toggle="modal" data-target="#registroModal">
              <i class="far fa-address-card fa-4x"></i>
            </button>
          </div>
          <!--Div del desplegable de registro-->
          <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card text-center" style="background-color: #303136;">
                          <div class="card-body">
                            <h3>Registrar Usuarios</h3>
                            <p>Ingresa los datos y crea un nuevo usuario. </p>
                            <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                              <div class="form-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Nombre" name="name" #nombre [(ngModel)]="name">
                              </div>
                              <div class="form-group">
                                <input type="email" class="form-control form-control-lg" placeholder="Correo Electronico" name="email" #mail [(ngModel)]="email">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Numero de Movil" name="mobile" #mobil [(ngModel)]="mobile">
                              </div>
                              <div class="form-group">
                                <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" #pass [(ngModel)]="password">
                              </div>

                              <div class="form-group">
                                <label for="sel1">Selecciona el tipo de usuario:</label>
                                <select class="form-control" name="userType" #TipoUsuario [(ngModel)]="userType">
                                  <option value="1">Gerente</option>
                                  <option value="2">Residente</option>
                                  <option value="3">Proyectista</option>
                                </select>
                              </div>

                              <input type="submit" class="btn btn-outline-light btn-block" value="Registrar Usuario">
                              <input type="button" class="btn btn-outline-light btn-block" (click)="resetForm(userForm)" value="Limpiar">

                            </form>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-12">
            <div class="card text-center" style="background-color: #707376;">
              <div class="card-body">
                <img class="card-img-top img-fluid" src="/assets/img/usu.png" alt="Card image">
                <a href="/adm-users/2">
                  <button class="btn btn-lg btn-dark">Administrar Residentes</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-12">
            <div class="card text-center" style="background-color: #707376;">
              <div class="card-body">
                <img class="card-img-top img-fluid" src="/assets/img/usu.png" alt="Card image">
                <a href="/adm-users/3">
                  <button class="btn btn-lg btn-dark">Administrar Proyectistas</button>
                </a>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>