<app-navbar></app-navbar>


<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">

            <div class="container">
                <div class="row">
                    <div class="container">
                        <h2>Residentes/Proyectistas</h2>
                        <p>Buscar Residentes/Proyectistas por nombre, correo o proyectos activos. </p>
                        <input class="form-control" id="myInput" type="text" placeholder="Buscar">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Proyectos Activos</th>
                                        <th colspan="2">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    <tr *ngFor="let user of this.userService.user">
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.projects.length}}</td>
                                        <td>
                                            <button (click)="SelectedUser(user.name,user._id,user.email,user.mobile,user.password)" (click)="getUserProjects(user._id)" class="btn btn-lg btn-dark" type="button" data-toggle="modal" data-target="#acciones">
                                                <i class="fas fa-archive fa-1x"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button *ngIf="user.projects.length==0"class="btn btn-lg btn-dark" type="button" (click)="deleteUser(user._id)">
                                                <i class="fas fa-trash fa-1x"></i>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--Desplegable de proyectos por residente-->

            <div class="modal fade" id="acciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card text-center" style="background-color: #303136;">
                                            <div class="card-body">
                                                <!--Aqui va el contenido-->
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            Usuario: {{name2}}
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <!--Despues del segundo class es para cerrar el primer desplegable-->
                                                            <button class="btn btn-lg btn-dark" type="submit" data-toggle="modal" data-target="#datosgen" data-dismiss="modal" aria-label="Close">
                                                                <i class="fas fa-cog fa-1x"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Proyecto</th>
                                                                        <th>Avance</th>
                                                                        <th>Acciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="accionestabla">
                                                                    <tr *ngFor="let project of this.projects">
                                                                        <td>{{project.name}}</td>
                                                                        <td>
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                                                    aria-valuemax="100" style="width:100%">
                                                                                    0%
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <button (click)="SelectedProject(project._id)" 
                                                                                class="btn btn-lg btn-dark" type="submit"
                                                                                data-toggle="modal" data-target="#nuevosdatos"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <i class="fas fa-folder-minus fa-1x"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Segundo DIV de actualizar datos generales-->
            <div class="modal fade" id="datosgen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card text-center" style="background-color: #303136;">
                                            <div class="card-body">
                                                <!--Aqui va el contenido-->
                                                <div class="container">

                                                    <div class="row">

                                                        <div class="card-body">
                                                            <h3>Actualizar datos generales </h3>

                                                            <p>Ingresa los nuevos datos. </p>
                                                            <form #updateForm="ngForm" (ngSubmit)="updateUser(updateForm)" (keydown.enter)="$event.preventDefault()">
                                                                <div class="form-group">
                                                                    <input type="hidden"  name="_id" [(ngModel)]="id2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control form-control-lg" placeholder="Correo Electronico" name="email" [(ngModel)]="email2"   maxlength="100" #emailref="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control form-control-lg" placeholder="Numero de Movil" name="mobile" [(ngModel)]="mobile2"   maxlength="100" #mobileref="ngModel"  pattern="[0-9]{10,14}$">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control form-control-lg" placeholder="Contraseña" name="password" [(ngModel)]="password2"  maxlength="100" #passwordref="ngModel" pattern="[A-Za-z0-9|°¬!'#$%&/()=?\¡¿´¨+*~`^,;.:-_@áéíóúÁÉÍÓÚ]{8,30}">
                                                                </div>

                                                                
                                                                <div [hidden]="!emailref.errors?.pattern">
                                                                    Correo Invalido.
                                                                </div> 
                                                                <div [hidden]="!mobileref.errors?.pattern">
                                                                    El numero debe de tener minimo 10 y maximo 14 caracteres.
                                                                </div> 
                                                                <div [hidden]="!passwordref.errors?.pattern">
                                                                    La contraseña debe de tener minimo 8 y maximo 30 caracteres, sin espacios.
                                                                </div>

                                                                <input [hidden]="emailref.errors?.pattern || mobileref.errors?.pattern ||  passwordref.errors?.pattern" type="submit" value="Actualizar Datos" class="btn btn-outline-light btn-block">
                                                            </form>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tercer div de nuevos datos de residente/proyectista-->
            <div class="modal fade" id="nuevosdatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card text-center" style="background-color: #303136;">
                                            <div class="card-body">
                                                <!--Aqui va el contenido-->
                                                <div class="container">

                                                    <div class="row">

                                                        <div class="card-body">
                                                            <h3>Nuevos datos de usuario</h3>
                                                            <p>Escoje el nuevo encargado de proyecto </p>
                                                            <form #update="ngForm" (ngSubmit)="updateUserInCharge(update)">

                                                                <div class="form-group">
                                                                    <div class="col-lg-12">


                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <h6 *ngIf="checku">Residente Encargado</h6>
                                                                                <h6 *ngIf="!checku">Proyectista Encargado</h6>
                                                                            </div>
                                                                            <input type="hidden" name="id3" [(ngModel)]="id3">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">

                                                                                    <select  class="form-control" name="idNewUser" [(ngModel)]="idNewUser" >
                                                                                        <option *ngFor="let user of this.userService.user" value="{{user._id}}">{{user.name}} </option>
                                                                                        
                                                                                    </select>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>


                                                                <input type="submit" value="Actualizar Datos" class="btn btn-outline-light btn-block">
                                                            </form>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>